#{extends 'main.html' /}
#{set title:'Marketing for Sunset' /}
<link rel="stylesheet" href="/public/stylesheets/vendor/selectizejs/selectize.default.css">
#{set 'moreStyles'}
<link rel="stylesheet" href="/public/stylesheets/pages/offers.create.css">
<link rel="stylesheet" href="/public/stylesheets/pages/validated-forms.css">
<link rel="stylesheet" href="/public/stylesheets/fonts.css">
#{/set}
#{set 'moreScripts'}
<script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/blitzer/jquery-ui.css" type="text/css" />
#{/set}
<script>
    $(document).ready(function(){
        $(".uploading").hide();
        $("#addimg, #addimgsite").submit(function(e){
            e.preventDefault();
            var id=$(this).attr("id");
            if(id=="addimg")
                num=1;
            else
                num=2;
            console.log(id);
            var val = $("#image").val();
            if (!val.match(/(?:jpg|jpeg|PNG|JPG|JPEG|png)$/)) {
                showError("File path is not an image!");
            }else{
                var div=$(this);
                $(this).find(".uploading").show();
                var id=$("#id-value").val();
                var url='${url}'+'/ecert/'+num+'/images';
                var button=$(this).find(".btn");
                $(button).attr("disabled", true).val("creating....");
                $.ajax( {
                    url: url,
                    type: 'POST',
                    data: new FormData( this ),
                    success: function(msg){
                        var result = msg;
                        console.log(result.message);
                        $(div).find(".uploading").hide();
                        if(result.message != undefined){
                            showError(result.message);
                            //$submitButton.attr("disabled", false).val("Save");
                        }else{
                            console.log(msg);
                            $(button).attr("disabled", false).val("Add Picture");
                            $(".alert-success").show();
                        }
                    }, error: function(result){
                        $(div).find(".uploading").hide();
                        $(button).attr("disabled", false).val("Add Picture");
                        showError(result.responseJSON.message);
                    },
                    processData: false,
                    contentType: false
                } );
            }
        });
    });
</script>
<div class="col-lg-12 page-header">
    <div class="row">
        <div class="col-lg-12">
            <div class="row"><br />
                <div class="alert alert-success oculto" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>&{'well_done'}!</strong> &{'successfully_created'} a image <strong><a href="/hotels/${id}">${hotelName}</a></strong>
                </div>
                <h1>
                &{'li_certimage'}
                </h1>
                <div class="alert alert-danger alert-dismissible oculto" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span class="text"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
            &{'upload_image'}
            </div>
            <div class="panel-body">
                *{<form method="post"  id="addimg">}*
                    *{<h3 class="col-sm-12">Site Image</h3>}*
                    *{<div class="col-lg-8">}*
                        *{<div class="form-group">}*
                            *{<p class="col-sm-12">}*
                                *{<strong>Size:</strong> 1650px x 1275px,<br/>}*
                                *{<strong>Format:</strong> .png /.jpg / .gif,<br>}*
                            *{</p>}*
                            *{<div class="col-sm-9 col-lg-9">}*
                                *{<input type="file" name="image" class="form-control" id="image"/>}*
                            *{</div>}*
                            *{<input value="Add Picture" type="submit" class="btn btn-primary" />}*
                            *{<div class="col-sm-9 text-center uploading">}*
                                *{<img src="/public/images/ajax-loader.gif" /><br />}*
                                *{Uploading Image}*
                            *{</div>}*
                        *{<a for="image" class="col-sm-3 col-lg-3 control-label btn btn-default">Add picture</a>}*
                        *{</div>}*
                    *{</div>}*
                *{</form>}*
                <div class="clearfix"></div><br />
                <form method="post"  id="addimg">
                    <h3 class="col-sm-12">&{'li_certimage'}</h3>
                    <div class="col-lg-8">
                        <div class="form-group">
                            <p class="col-sm-12">
                                <strong>&{'size'}:</strong> 1320px x 1020px,<br />
                                <strong>&{'format'}:</strong> .png / .jpg / .gif
                            </p>
                            <div class="col-sm-9 col-lg-9">
                                <input type="file" name="image" class="form-control" id="image"/>
                            </div>
                            <input value="&{'add_picture'}" type="submit" class="btn btn-primary" />
                            <div class="col-sm-9 text-center uploading">
                                <img src="/public/images/ajax-loader.gif" /><br />
                                &{'upload_image'}
                            </div>
                        *{<a for="image" class="col-sm-3 col-lg-3 control-label btn btn-default">Add picture</a>}*
                        </div>
                    </div>
                </form>
                <br/>
                <div class="clearfix"></div>
            </div>
    </div>
    <!-- /.panel -->
</div>
</div>