#{extends 'main.html' /}
#{set title:'New Client' /}

*{<link rel="stylesheet" href="/public/stylesheets/pages/leads.view.css">}*
#{set 'moreStyles'}
<link rel="stylesheet" href="/public/stylesheets/vendor/selectizejs/selectize.default.css">
<link rel="stylesheet" href="/public/stylesheets/pages/validated-forms.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css"/>
<link rel="stylesheet" href="/public/stylesheets/libs/bootstrap-select/ajax-bootstrap-select.css"/>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
#{/set}
#{set 'moreScripts'}
<script src="/public/javascripts/form.validation.js"></script>
<script src="/public/javascripts/leads/create.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="/public/javascripts/vendor/masked-input/jquery.maskedinput.js"></script>
*{<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>}*
<script type="text/javascript" src="/public/javascripts/libs/bootstrap-select/ajax-bootstrap-select.min.js"></script>
#{if !id }
<script>
    $(document).ready(function() {
        //Si se va a crear un lead
        var options = {
            ajax: {
                url: '/application/campaignsearch/',
                type: 'GET',
                dataType: 'json',
                // Use "{{{q}}}" as a placeholder and Ajax Bootstrap Select will
                // automatically replace it with the value of the search query.
                data: {
                    draw: '{{{q}}}'
                }
            },
            locale: {
                emptyTitle: 'Select and Begin Typing'
            },
            log: 3,
            preprocessData: function (data) {
                console.log(data);
                data = data.elements;

                var i, l = data.length, array = [];
                if (l) {
                    for (i = 0; i < l; i++) {
                        company = "";
                        if (data[i].certCustomer)
                            company = data[i].certCustomer.companyName
                        array.push($.extend(true, data[i], {
                            text: data[i].name,
                            value: data[i].id,
                            data: {
                                subtext: company
                            }
                        }));
                    }
                }
                // You must always return a valid array when processing data. The
                // data argument passed is a clone and cannot be modified directly.
                return array;
            }
        };

        $('.selectpicker').selectpicker().filter('.with-ajax').ajaxSelectPicker(options);
        $('.selectpicker ').on('change', function(){
            var selected = $(this).find("option:selected").val();
            var info_certificate=$(this).closest(".info-certificate");
            $.ajax({
                url:  '/application/campaignslist/'+selected,
                type: 'GET',
                success:function(result) {
                    var result =  $.parseJSON(result);
                    var terms="", destinies="", type_certificate="", lan="en";
                    $("#info-campaign").html("");
                    if(!result.message){
                        var span=$("<span/>",{
                            'aria-hidden': 'true',
                            'class': 'glyphicon glyphicon-ok form-control-feedback'
                        });
                        tam= result.offer.translations.length;
                        switch(result.callCenter.id) {
                            case 201:
                                lan="en"
                                break;
                            case 1541:
                                lan="es"
                                break;
                            case 5962:
                                lan="pt-br"
                                break;
                        }
                        if(tam>1){
                            $.each(result.offer.translations, function(index, value){
                                if((value.language.code==lan || index==tam)&&value.websiteTerms )
                                    terms=value.websiteTerms;
                            });
                        }else{
                            terms= result.offer.translations[0].websiteTerms;
                        }
                        if(result.offer.destinations){
                            $.each(result.offer.destinations, function(index, value){
                                if(destinies==""){
                                    destinies+=value.offerDestinationId.destination.name;
                                }else{
                                    destinies+=", "+value.offerDestinationId.destination.name;
                                }
                            });
                        }
                        if(result.typeCertificate==1){
                            type_certificate="Physical";
                        }else {
                            type_certificate="Digital";
                        }
                        $(info_certificate).find(".terms").html(terms);
                        $(info_certificate).find(".offer").html("Nights: "+result.offer.nights+", Plan: " +
                                result.offer.mealPlan.plan+ ", Destinies: " +destinies+
                                ", Cost: $"+result.offer.activationFee+" USD act. fee and $"+result.offer.taxes+
                                " USD taxes, certificate type: "+type_certificate+", " +
                                "Transportation: "+result.offer.transportation.name+", Reservation Group: " +
                                result.reservationGroup.name+" ["+result.offer.hook.name+"], "+result.description);
                        a_href=$("<a/>", {'data-toggle':"modal", 'data-target':"#terms", 'rel':"tooltip", 'data-placement':'bottom','title': 'Terminos', 'class': 'pull-right'});
                        a_href=a_href.append($("<span />", { 'class': 'flaticon-purchase1' }));
                        $("#info-campaign").append(a_href);
                        a_href=$("<a/>", {'data-toggle':"modal", 'data-target':"#offer-details",'rel':"tooltip", 'data-placement':'bottom','title': 'Oferta', 'class': 'pull-right'});
                        a_href=a_href.append($("<span />", { 'class': 'glyphicon glyphicon-info-sign'}));
                        $("#info-campaign").append(a_href);
                        $(".terms, #offer").removeClass("oculto");
                        $('[data-toggle="tooltip"]').tooltip();
                    }else{
                        $(div).addClass("has-error has-feedback");
                        var span=$("<span/>",{
                            'aria-hidden': 'true',
                            'class': 'glyphicon glyphicon-remove form-control-feedback'
                        });
                        $(".terms, #offer").hide();
                    }
                }
            });
        });

        function validate_certificate(id){
            id = (id == "") ? "" : "/" + id;
            var div=$("#certificate").closest(".form-group");
            var certificates = "/application/certificates" + id;
            $.ajax({
                type: "GET",
                url: certificates
            }).done(function (msg) {
                var result = JSON.parse(msg);
                var terms="", destinies="", type_certificate="", lan="en";
                console.log(result);
                $(div).find(".form-control-feedback").remove();
                $(div).removeClass("has-success has-feedback has-error");
                $("#info-certificate").html("");
                $("#valid-certificate").val(result.certificate);
                if(!result.message){
                    var span=$("<span/>",{
                        'aria-hidden': 'true',
                        'class': 'glyphicon glyphicon-ok form-control-feedback'
                    });
                    $(div).addClass("has-success has-feedback");
                    tam= result.campaign.offer.translations.length;
                    switch(result.campaign.callCenter.id) {
                        case 201:
                            lan="en"
                            break;
                        case 1541:
                            lan="es"
                            break;
                        case 5962:
                            lan="pt-br"
                            break;
                    }
                    if(tam>1){
                        $.each(result.campaign.offer.translations, function(index, value){
                            if((value.language.code==lan || index==tam)&&value.websiteTerms )
                                terms=value.websiteTerms;
                        });
                    }else{
                        terms= result.campaign.offer.translations[0].websiteTerms;
                    }
                    if(result.campaign.offer.destinations){
                        $.each(result.campaign.offer.destinations, function(index, value){
                            if(destinies==""){
                                destinies+=value.offerDestinationId.destination.name;
                            }else{
                                destinies+=", "+value.offerDestinationId.destination.name;
                            }
                        });
                    }
                    if(result.campaign.typeCertificate==1){
                        type_certificate="Physical";
                    }else {
                        type_certificate="Digital";
                    }
                    console.log("Terms: "+terms)
                    $(".certificate .terms").html(terms);
                    $("#offer-details h4").html(result.campaign.name);
                    $(".certificate .offer").html("Nights: "+result.campaign.offer.nights+", Plan: " +
                            result.campaign.offer.mealPlan.plan+ ", Destinies: " +destinies+
                            ", Cost: $"+result.campaign.offer.activationFee+" USD act. fee and $"+result.campaign.offer.taxes+
                            " USD taxes, certificate type: "+type_certificate+", " +
                            "Transportation: "+result.campaign.offer.transportation.name+", Reservation Group: " +
                            result.campaign.reservationGroup.name+" ["+result.campaign.offer.hook.name+"], "+result.campaign.description+"");
                    a_href=$("<a/>", {'data-toggle':"modal", 'data-target':"#terms", 'rel':"tooltip", 'data-placement':'bottom','title': 'Terminos', 'class': 'pull-right'});
                    a_href=a_href.append($("<span />", { 'class': 'flaticon-purchase1' }));
                    $("#info-certificate").append(a_href);
                    a_href=$("<a/>", {'data-toggle':"modal", 'data-target':"#offer-details",'rel':"tooltip", 'data-placement':'bottom','title': 'Oferta', 'class': 'pull-right'});
                    a_href=a_href.append($("<span />", { 'class': 'glyphicon glyphicon-info-sign'}));
                    $("#info-certificate").append(a_href);
                    $(".terms, #offer").removeClass("oculto");
                    $('[data-toggle="tooltip"]').tooltip();
                }else{
                    $(div).addClass("has-error has-feedback");
                    var span=$("<span/>",{
                        'aria-hidden': 'true',
                        'class': 'glyphicon glyphicon-remove form-control-feedback'
                    });
                    $(".terms, #offer").hide();
                }
                $(div).append(span);
            }).error(function (err) {

            }); // end ajax
        }
        #{if certificate != "" }
            $("#certificate").val("${certificate}");
            validate_certificate("${certificate}");
        #{/if}
        $("#certificate").keyup(function(){
            $("#valid-certificate").val("");
            var tam=$(this).val().length;
            if(tam>=4){
                var id=$(this).val();
                validate_certificate(id);
            }

        });
    });
</script>
#{/if}
#{/set}
<div class="col-lg-12 page-header">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <h1>
                    &{'client'}
                </h1>

            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="alert alert-danger alert-dismissible oculto" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <span class="text"></span>
</div>
<!-- /.row -->
#{form @Leads.list(), method:'POST', id:'redirect'}
<input name="leadName" type="hidden" value="" />
<input type="hidden" name="mode" value="create" />
<input id="id-value" type="hidden" value="${id}"/>
#{/form}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                &{'new_client'}
            </div>
            <div class="panel-body">
                <form id="lead-form">
                    <input id="id-value" type="hidden" value="${id}"/>
                    <div class="row">
                        #{if !id }
                        <div class="col-sm-6 info-certificate">
                            <div class="form-group certificate">
                                <label>&{'certificate'}* </label>
                                <input type="text" class="form-control" id="certificate" name="certificate"  />
                                <input type="hidden" class="form-control" id="valid-certificate" name="valid-certificate" />
                                <p class="offer oculto"></p>
                                <p class="terms oculto"></p>
                            </div>
                            <div id="info-certificate"></div>
                        </div>
                        <div class="col-sm-6 info-certificate">
                            <div class="form-group campaign">
                                <label for="exampleInputEmail1">Campaign</label>
                                <select id="campaign" class="selectpicker with-ajax form-control" data-live-search="true"></select>
                                <p class="offer oculto"></p>
                                <p class="terms oculto"></p>
                            </div>
                            <div id="info-campaign"></div>
                        </div>
                        <div class="clearfix"></div>
                        #{/if}
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-xs-12">&{'firstname'}*</label>
                                    <div class="col-sm-3">
                                        <select class="form-control" name="title" id="title">
                                            <option value="1">SR</option>
                                            <option value="1">SRA</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="firstname" name="firstname" data-required="true" data-length="2" maxlength="100" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="lastname">&{'lastname'}*</label>
                                <input type="text" class="form-control" id="lastname" name="lastname" data-required="true" data-length="2" maxlength="100" />
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>&{'age'}*</label>
                                        <input type="number" class="form-control" id="age" name="age" min="17" max="80" data-length="2" maxlength="2"/>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="form-group">
                                        <label>&{'date_birth'}*</label>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <select class="form-control day" name="day" id="day">
                                                    <option value="">&{'day'}</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <select class="form-control month" name="month" id="month">
                                                    <option value=""> &{'month'} </option>
                                                    <option value="1">January</option>
                                                    <option value="2">February</option>
                                                    <option value="3">March</option>
                                                    <option value="4">April</option>
                                                    <option value="5">May</option>
                                                    <option value="6">June</option>
                                                    <option value="7">July</option>
                                                    <option value="8">August</option>
                                                    <option value="9">September</option>
                                                    <option value="10">October</option>
                                                    <option value="11">November</option>
                                                    <option value="12">December</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <select class="form-control year" name="year" id="year" name="year">
                                                    <option value="">&{'year'}</option>
                                                    <!-- <option value="2015">2015</option>
                                                    <option value="2014">2014</option>
                                                    <option value="2013">2013</option>
                                                    <option value="2012">2012</option>
                                                    <option value="2011">2011</option>
                                                    <option value="2010">2010</option>
                                                    <option value="2009">2009</option>
                                                    <option value="2008">2008</option> -->
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-6 pull-right">
                            <div class="form-group" style="margin-top: 12px;">
                                <label>&{'email'}*</label>
                                <input type="email" class="form-control" id="email" name="email" data-required="true" data-length="2" maxlength="100"/>
                            </div>
                            <div class="form-group" style="margin-top: 12px;">
                                <label>&{'email'} 2</label>
                                <input type="email" class="form-control" id="email2" name="email2" data-length="2" maxlength="100"/>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="row" id="phones">
                                    <label class="col-xs-12">
                                        &{'phone'}*<button type="button" class="btn btn-success pull-right" id="add-phone">
                                        <span class="glyphicon glyphicon-earphone" style="margin-right: 5px;"></span>  &{'add'}  </button>
                                    </label>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="type-phone" name="type-phone">
                                            <option value="phone">HOME</option>
                                            <option value="phone2">CELLPHONE</option>
                                            <option value="phone3">WORK</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="phone" name="phone" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-6">
                            <label>&{'country'}*</label>
                            <div class="form-group">
                                <select id="countries" name="countries" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label>&{'state'}*</label>
                            <div class="form-group">
                                <select id="states" name="states" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label>&{'city'}</label>
                            <div class="form-group">
                                <input type="text" class="form-control" id="city" name="city" maxlength="100" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label>&{'zipcode'}</label>
                            <div class="form-group">
                                <input type="text" class="form-control" id="zipcode" name="zipcode" maxlength="100" />
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label>&{'address'}</label>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-11">
                                        <textarea class="form-control col-sm-10" maxlength="500" id="street" rows="3" data-length="2"/></textarea>
                                    </div>
                                    <div id="cont" class="col-sm-1">0</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <a class="terms oculto" data-toggle="modal" data-target="#terms">View terms</a>
                        </div>

                        <div class="clearfix"></div>
                        <p class="lead col-xs-12" style="color: #337ab7">&{'sale_information'}</p>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>&{'marital_status'}</label><br />
                                <div id="marital"></div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>&{'occupation'}</label>
                                <input type="text" class="form-control" id="occupation" name="occupation" maxlength="100"/>
                            </div>
                            <div class="row">
                                <label class="col-sm-12">&{'customer_interested'}:</label>
                                    <div id="features" class="col-sm-12">
                                        <div class="checkbox"></div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    #{if id }
                        #{secure.check 'EditarCliente'}
                             <input type="submit" class="btn btn-primary" value="&{'save'}" id="submit" />&nbsp;&nbsp;&nbsp;&{'or'}
                        #{/secure.check}
                    #{/if}
                    #{else }
                        #{secure.check 'CrearCliente'}
                             <input type="submit" class="btn btn-primary" value="&{'save'}" id="submit" />&nbsp;&nbsp;&nbsp;&{'or'}
                        #{/secure.check}
                    #{/else}
                    <a href="@{Leads.list()}" class="btn">&{'cancel'}</a>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="terms" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">&{'terms'}</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">&{'close'}</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="offer-details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Oferta </h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">&{'close'}</button>
            </div>
        </div>
    </div>
</div>


