    #{extends 'main.html' /}
    #{set title:'Clients' /}
    #{set 'moreStyles'}
    <link rel="stylesheet" href="/public/stylesheets/pages/lists.css" />
    <link rel="stylesheet" href="/public/stylesheets/libs/datatables/dataTables.bootstrap.css" />
    <link rel="stylesheet" href="/public/stylesheets/pages/leads.view.css">
    #{/set}
    <script src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <!-- <script src="/public/javascripts/leads/list.js"></script> -->
    <script>
	    /**
	     * Created by desarrollo1 on 13/04/2015.
	     */
	    $(document).ready(function() {
	        var days = ['Sun', 'Mon', 'Tues', 'Wed', 'Thurs', 'Fri', 'Sat'];
	        var months = ['January', 'February', 'March','April', 'May', 'June', 'July', 'August','September', 'October', 'November','December'];
	        var context;
			$( document ).on( "click", ".openwindow", function(e){
				//$('.openwindow').click(function(e) {
				e.preventDefault();
				window.open($(this).attr("href"), "popupWindow", "menubar=1,resizable=1,width=1000,height=1000, toolbar=1");
			});

	        var dtable=$('#leads-datatable').dataTable({
	        "processing": true,
	        "serverSide": true,
			"oLanguage": {
				"sSearch": "&{'searching'}",
				"oPaginate": {
					"sNext": "&{'next'}",
					"sPrevious": "&{'previous'}"
				},
				"sLengthMenu": "&{'show'} _MENU_ &{'entries'}",
				"sInfo": "&{'show'} _START_ &{'to'} _END_ &{'entries'} &{'of'}  _TOTAL_",
				"sProcessing": "&{'processing'}"
			},
	        "ajax":'/application/leadslist',
	        "columnDefs": [
	        {
	            "targets":0,
	            "render": function (td, cellData, rowData, row, col) {
							console.log(rowData);
	                        return  '<a href="/clients/' + rowData.idcliente + '">' + rowData.name + '</a>';
	                    }
	    	},
	        {
	            "targets":4,
	            "render": function (datecreated) {
	                        d= new Date(datecreated);
	                        da=days[d.getUTCDay()]+" "+months[d.getMonth()]+" "+d.getUTCDate()+" "+d.getUTCFullYear();
	                        return da;
	                    }
			},
			{
				"targets":5,
				"render": function (td, cellData, rowData, row, col) {
					//Si existe el certificado es 2
                    var typeCertificate=2;
					var CampaingId=4031;
					var OfferId=196;
                    var response='';
                    if(typeCertificate==2){
                        var certificateType=get_certificate_type(CampaingId);
                        if(certificateType){}
                            response+='<a data-toggle="tooltip" data-placement="bottom" title="Certificado" data-url="${urlecert}" data-type='+certificateType+' data-booking='+rowData.idbooking+' class="ecert_link"><span class="flaticon-purchase1"></span> </a>';
                    }
					response+='<a data-offer="'+OfferId+'" class="OfferInfo" data-toggle="modal" data-target="#OfferInfo"><span class="glyphicon glyphicon-info-sign"></span></a>';
					#{secure.check 'EliminarCliente'}
						response+='<a class="glyphicon glyphicon-trash openwindow" href="/intranet/deletecert/'+ rowData.idcliente +'/'+ rowData.idbooking+'/'+ rowData.numcert+'" data-id="1"></a>';
					#{/secure.check}
                    return  response;
				}
			}

			],
			"columns": [
				{ "data": "name","title":"&{'name'}"},
				{ "data": "idbooking","title":"&{'id_booking'}" },
				{ "data": "numcert","title":"&{'certificate'}"},
				{ "data": "campaign","title":"&{'campaign'}"},
				{ "data": "datecreated","title":"&{'date_created'}"},
			]
			,"order": [[ 4, "desc" ]]
	        });
	
	        $('#myInput').on( 'keyup', function (e) {
	            //if(this.value.length >= 3 && e.keyCode == 13) {
	            if(e.keyCode == 13) {
	                dtable.fnFilter($.trim(this.value));
	            }else if(this.value == "") {
	                dtable.fnFilter("");
	            }
	            return;
	        } );
	
	        $("#search-client").click(function (e) {
	            e.preventDefault();
	            var value_search=$.trim($("#myInput").val());
	            dtable.fnFilter(value_search);
	        });

            $( document ).on( "click", ".OfferInfo", function(e){
				//Get info de oferta
				var offerId=$(this).attr("data-offer");
                $("#OfferInfo .modal-body p").html("");
                var Offerbutton=$(this);
                $.ajax({
                    url:  '/TableList',
                    type:'POST',
                    data:{'url': '/offers/'+offerId},
                    success:function(result){
                        var result =  $.parseJSON(result);
						var destinies="";
                        if(result.destinations){
                            for(var j = 0; j < result.destinations.length; j++) {
								var coma= j == 0 ? " ": ", ";
                                destinies+=coma+result.destinations[j].offerDestinationId.destination.name;
                            }
                        }
						var certificateType = $(Offerbutton).closest("td").find(".ecert_link").length==0 ? 1: 2;
                        console.log(certificateType)
						var Reservation_Group= "Ingles";
						certificateType= certificateType==1 ? "PHYSICAL": "DIGITAL";
                        $("#OfferInfo .modal-body p").html("Nights: "+result.nights+", Plan: All Inclusive, " +
                                "Destinies: "+destinies+", Cost: "+result.price+" USD all inclusive, " +
                                result.activationFee+" USD axt. fee and $"+result.taxes+" USD taxes" +
								", certificate type: "+certificateType+", " +
                                "Transportation: "+result.transportation.name+", Reservation Group: " +
								Reservation_Group+"["+result.hook.name+"], "+Decode(result.description)+". ");
					},
                    error: function(err){
                        alert("error" + err);
                    }
                });
        	});
	    });
    </script>
    <div class="col-lg-12 page-header">
        <div class="row">
            <div class="col-lg-10">
                <div class="row">
                    <h1>&{'li_clients'}</h1>
                </div>
            </div>
            #{secure.check 'CrearCliente'}
                <div class="col-lg-2">
                    <div class="row">
                        <a href="/clients/create" class="btn btn-sm btn-primary pull-right top-separation">
                            <i class="glyphicon glyphicon-plus"></i>
                            &nbsp;&{'new_client'}
                        </a>
                    </div>
                </div>
            #{/secure.check}
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
                    <div class="dataTable_wrapper">
                        <div class="col-sm-3 pull-right">
                            <div class="input-group">
                                <input type="text" class="form-control" id="myInput" placeholder="&{'search'}...">
                                  <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" id="search-client">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                  </span>
                            </div><!-- /input-group -->
                        </div><!-- /.col-sm-3-->
                        <table class="table table-striped table-bordered table-hover" id="leads-datatable">
                            <thead>
                                <tr></tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
            <!-- /.panel -->
        </div>
    </div>
    <!-- /.col-lg-12 -->


    <!-- Modal Oferta -->
    <div class="modal fade " id="OfferInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content ">
                <div class="modal-body text-center">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
