#{extends 'main.html' /}
#{set title:'Template Bulkbank' /}

#{set 'moreStyles'}
<link rel="stylesheet" href="/public/stylesheets/pages/validated-forms.css" />
#{/set}

#{set 'moreScripts'}
<script src="/public/javascripts/form.validation.js"></script>
<script>
    $(document).ready(function() {
        $("#year").load_years(${year});
        var days=["","SUNDAY", "MONDAY", "TUESDAY", "WEDNESDAY", "THURSDAY", "FRIDAY", "SATURDAY"];

        #{if templateId }
            $(".bulkbank-table").load_weeks(${year}, ${day});
            $("#day").load_days(${day});
            $("#bulkbank-search").hide();
            $(".sk-chasing-dots").show();
            //Cargar detalles template
            $(".detail-template").load_template('${templateId}', '${year}' ,'${day}')

            //Cargar Bulkbanks
        function bulkbank(){
            $.ajax({
                url:  '/bulkBank',
                type:'POST',
                data: {'url': '/bulkBank/list?templateId=${templateId}&day=${day}&year=${year}'},
                success:function(result){
                    console.log('/bulkBank/list?templateId=${templateId}&day=${day}&year=${year}');
                    var result =  $.parseJSON(result);
                    $.each(result, function (index, value) {
                        //Cargar dato de bulkbank
                        load_bulkbank(value);
                    });
                    $("#bulkbank-search").find(".sk-chasing-dots").hide();
                    $("#bulkbank-search").show();
                },
                error: function(err){
                    showError("error" + err);
                }
            });
        }
        bulkbank();


            //Cargar datos de template

        #{/if}
        #{else}

            load_sunset_hotels("/hotel", $("#hotel"), 1);
            $("#template").load_templates("/templateBulkBank/list?clubId="+1, "${templateId}");
            $("#bulkbank-search").find(".sk-chasing-dots").hide();
            $("#bulkbank-search").show();
            $(".sk-chasing-dots").hide();
            $(".bulkbank-table").load_weeks(new Date().getFullYear(),1);
            $("#day").load_days(1);

            $("#template, #year, #day").change(function(){
                var templateId= $(this).val();
                var day=$("#day").val();
                var year=$("#year").val();
                if($(this).attr("id")=="template")
                    $(".detail-template").load_template(templateId, year ,day);
                else
                    $(".bulkbank-table").load_weeks(year,day);
            });
        #{/else}

        $( "#hotel" ).change(function() {
            var hotel=$(this).val();
            $("#template").load_templates("/templateBulkBank/list?clubId="+hotel, "");
        });

        $("#bulkbank-save").submit(function (e) {

            e.preventDefault();

            var templatedId = $(this).find("#templateId").val();

            if(templatedId == ""){

                var bulkbankSearch = $("#bulkbank-search");

                var year = bulkbankSearch.find("#year").val();
                var template = bulkbankSearch.find("#template").val();
                var day = bulkbankSearch.find("#day").val();

                if(day == "" || year == ""  || template == "" || day == null || year == null || template == null){
                    showError("Day, Year and Template are required");
                }else{
                    $(this).find("#templateId").val(template);
                    $(this).find("#year").val(year);
                    $(this).find("#weekDay").val(day);
                }
            }

            templatedId = $(this).find("#templateId").val();

            if(templatedId){

                var data = $(this).serialize();
                var submitButton = $(this).find(":submit");
                //submitButton.button("loading");

                $.ajax({
                    url: '/createBulkbank',
                    type: 'POST',
                    data: data,
                    success: function(result){

                        result = JSON.parse(result);

                        console.log(result);

                        var flag = 0;
                        var ul = $("<ul/>");
                        var div_alert = $("<div/>", {class: "alert alert-success", role:"alert"});

                        $.each(result.weekDTOList, function (index, value) {

                            if(value.status){
                                flag = 1;

                                if(value.status == "created" || value.status == "updated"  || value.status == "canceled"){
                                    load_bulkbank(value);
                                    var li =$("<li/>", {text:" Bloqueos en la semana "+value.weekDayId+": "+ value.quantity});
                                }else{
                                    var li =$("<li/>", {text: "Error en los bloqueos en la semana "+value.weekDayId});
                                }

                                ul = ul.append(li);
                            }
                        });

                        div_alert = div_alert.append(ul);

                        $("#bulkbank-save").find(".alert").remove();

                        if(flag == 1){
                            $(".bulkbank-table").before(div_alert);
                        }

                        submitButton.button("reset");

                    }, error: function(result){
                        showError("Hubo un error en la aplicación");
                        submitButton.button("reset");
                    }
                });
            }
        });

        $("#bulkbank-search").submit(function(e){

            e.preventDefault();

            var $submitButton = $("#bulkbank-search").find('#submit');
            $submitButton.attr("disabled", true).val("searching....");
            var bulkbank_search=$("#bulkbank-search");
            var template=$(bulkbank_search).find("#template").val();
            var year=$(bulkbank_search).find("#year").val();
            var day=$(bulkbank_search).find("#day").val();

            if(day == "" || year == ""  || template == "" || day == null || year == null || template == null){
                showError("Day, Year and Template are required");
            }else{
                window.location.href = "/bulkbank/"+template+"/"+year+"/"+day;
            }

            $submitButton.attr("disabled", false).val("Search");
        });

        //addBreakdown
        $(document).on('click', '.addBreakdown', function() {
            // add Break down
            var td=$(this).closest("td");
            $("#clientNames").html("");
            var id=$(td).find("input[name=ids]").val();
            $("#bulkBankId").val(id);
            var quantity=$(td).find("input[name=quantity]").val();
            for(var i=0; i < quantity; i++){

                var names= $("<div/>", {class: 'col-sm-10'}).append(
                                    $("<div/>", {class: 'col-sm-6'}).append(
                                        $("<input/>",{type: 'text', class: 'form-control', name: 'firstname', placeholder: 'Firstname'})
                                    ),
                                    $("<div/>", {class: 'col-sm-6'}).append(
                                            $("<input/>",{type: 'text', class: 'form-control', name: 'lastname', placeholder: 'Lastname'})
                                    )
                                );
                var form=$("<div/>", {class: 'form-group'}).append(
                        $("<label/>", {class: 'col-sm-1 control-label', text: 'Name'}),
                        names);
                $("#clientNames").append(form);
            }
        });

        $("#breakdown-form").submit(function(e) {

            e.preventDefault();

            var data = $(this).serialize();

            var button= $(this).find('input[type="submit"]');

            button.attr("disabled", true).val("sending....");

            var form=$(this);
            $.ajax({
                url: '/createBreakdown',
                type: 'POST',
                data: data,
                success: function(result) {
                    result = JSON.parse(result);
                    console.log(result);
                    /*result = {
                        quantity: 1,
                        userName: "XSIERRA",
                        weekDTOList: {
                            firstname: "Carlos",
                            lastname: "Aguilar",
                            status: "updated",
                            reservationIdM4SG: "5478278745",
                            reservationIdHotel: "745535885"
                        }
                    };

                    console.log(result);
                    */

                    if(result.message){
                        showModalError($("#breakdown"), result.property+" "+result.message);
                    }else{
                        $.each(result.names, function (index, value) {
                            var col=form.find(".col-sm-10:eq("+index+")");
                            debugger;
                            if(value.status=="Successful"){
                                col.append($("<div/>", {class: 'alert alert-success', 'role':'alert',
                                    text: 'Successful: M4SG Reservation '+value.reservationIdM4SG
                                    +' Hotel Reservation '+value.reservationIdHotel}))
                            }else if(value.status=="Error: Updating on M4SG"){
                                col.append($("<div/>", {class: 'alert alert-danger', 'role':'alert',  text: value.status+ "button"}))
                            }else{
                                col.append($("<div/>", {class: 'alert alert-danger', 'role':'alert',  text: value.status}))
                            }
                        });
                        bulkbank();
                    }

                    button.attr("disabled", false).val("Enviar");
                }
            });
        });

    });
</script>
#{/set}
<input id="id-value" type="hidden" value="${brokerId}"/>
<div class="col-lg-12 page-header">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <h1>Bulk Bank</h1>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="personal-information">
            <div class="ibox-title">
                <h5>&{'search'}</h5>
            </div>
            <div class="clearfix"></div>
            <div class="ibox-content">
                <form role="form" action="" method="post" id="bulkbank-search">
                    <div class="sk-chasing-dots">
                        <div class="sk-child sk-dot1"></div>
                        <div class="sk-child sk-dot2"></div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Hotel</label>
                            <select  class="form-control" name="hotel" id="hotel"></select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Template</label>
                            <select  class="form-control" name="template" id="template"></select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Year</label>
                            <select  class="form-control" name="year" id="year"></select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Day</label>
                            <select  class="form-control" name="day" id="day"></select>
                        </div>
                        <input type="submit" id="submit" class="btn btn-primary pull-right" value="&{'search'}">
                    </div>
                </form>
            </div>
        </div>
        <div class="clearfix"></div><br /><br />
        <div class="personal-information">
            <div class="ibox-title">
                <h5>Bulkbank</h5>
            </div>
            <div class="clearfix"></div>
            <div class="ibox-content">
                <div class="row detail-template">
                    <div class="sk-chasing-dots">
                        <div class="sk-child sk-dot1"></div>
                        <div class="sk-child sk-dot2"></div>
                    </div>
                </div>
                <div class="clearfix"></div><br/><br/>
                <form role="form" action="" method="post" id="bulkbank-save">
                    <input type="hidden" name="templateId" id="templateId" value="${templateId}" />
                    <input type="hidden" name="year" id="year" value="${year}" />
                    <input type="hidden" name="weekDay" id="weekDay" value="${day}" />
                    <table class="table table-bordered bulkbank-table">
                        <tbody>

                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-primary pull-right" data-loading-text="Creating...">&{'save'}</button>
                </form>
            </div>
            <div class="clearfix"></div><br /><br />
        </div>
        <!-- /.panel -->
    </div>
<div class="modal fade" id="breakdown" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Breakdown</h4>
            </div>
            <form action="" id="breakdown-form" class="form-horizontal">
                <input type="hidden" name="bulkBankId" id="bulkBankId" />
                <div class="modal-body">
                    <div id="clientNames">

                    </div>

                    <div class="clearfix"></div><br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" text="Save changes" />
                </div>
            </form>
        </div>
    </div>
</div>
</div>