#{extends 'main.html' /}
#{set title:'Template Bulkbank' /}

#{set 'moreStyles'}
<link rel="stylesheet" href="/public/stylesheets/pages/validated-forms.css" />
#{/set}

#{set 'moreScripts'}
<script src="/public/javascripts/form.validation.js"></script>
<script src="/public/js/bulkbank/resend-bulkbank.js"></script>
<script src="/public/js/bulkbank/breakdown-test.js"></script>
<script>
    $(document).ready(function() {
        $("#year").load_years(${year});
        var days=["","SUNDAY", "MONDAY", "TUESDAY", "WEDNESDAY", "THURSDAY", "FRIDAY", "SATURDAY"];

        #{if templateId }
            $(".bulkbank-table").load_weeks(${year}, ${day});
            $("#day").load_days(${day});
            $("#bulkbank-search").hide();
            $(".sk-chasing-dots").show();
            //Cargar detalles template
            $(".detail-template").load_template('${templateId}', '${year}' ,'${day}')

            //Cargar Bulkbanks
        function bulkbank(){
            $.ajax({
                url:  '/bulkBank',
                type:'POST',
                data: {'url': '/bulkBank/list?templateId=${templateId}&day=${day}&year=${year}'},
                success:function(result){
                    console.log('/bulkBank/list?templateId=${templateId}&day=${day}&year=${year}');
                    var result =  $.parseJSON(result);
                    $.each(result, function (index, value) {
                        //Cargar dato de bulkbank
                        load_bulkbank(value);
                    });
                    $("#bulkbank-search").find(".sk-chasing-dots").hide();
                    $("#bulkbank-search").show();
                },
                error: function(err){
                    showError("error" + err);
                }
            });
        }
        bulkbank();


            //Cargar datos de template

        #{/if}
        #{else}

            load_sunset_hotels("/hotel", $("#hotel"), 1);
            $("#template").load_templates("/templateBulkBank/list?clubId="+1, "${templateId}");
            $("#bulkbank-search").find(".sk-chasing-dots").hide();
            $("#bulkbank-search").show();
            $(".sk-chasing-dots").hide();
            $(".bulkbank-table").load_weeks(new Date().getFullYear(),1);
            $("#day").load_days(1);

            $("#template, #year, #day").change(function(){
                var templateId= $(this).val();
                var day=$("#day").val();
                var year=$("#year").val();
                if($(this).attr("id")=="template")
                    $(".detail-template").load_template(templateId, year ,day);
                else
                    $(".bulkbank-table").load_weeks(year,day);
            });
        #{/else}

        $( "#hotel" ).change(function() {
            var hotel=$(this).val();
            $("#template").load_templates("/templateBulkBank/list?clubId="+hotel, "");
        });

        $("#bulkbank-save").submit(function (e) {

            e.preventDefault();

            var templatedId = $(this).find("#templateId").val();

            if(templatedId == ""){

                var bulkbankSearch = $("#bulkbank-search");

                var year = bulkbankSearch.find("#year").val();
                var template = bulkbankSearch.find("#template").val();
                var day = bulkbankSearch.find("#day").val();

                if(day == "" || year == ""  || template == "" || day == null || year == null || template == null){
                    showError("Day, Year and Template are required");
                }else{
                    $(this).find("#templateId").val(template);
                    $(this).find("#year").val(year);
                    $(this).find("#weekDay").val(day);
                }
            }

            templatedId = $(this).find("#templateId").val();

            if(templatedId){

                var data = $(this).serialize();
                var submitButton = $(this).find(":submit");
                submitButton.button("loading");

                $.ajax({
                    url: '/createBulkbank',
                    type: 'POST',
                    data: data,
                    success: function(result){

                        result = JSON.parse(result);

                        console.log(result);

                        var flag = 0;
                        var ul = $("<ul/>");
                        var div_alert = $("<div/>", {class: "alert alert-success", role:"alert"});

                        $.each(result.weekDTOList, function (index, value) {

                            if(value.status){
                                flag = 1;

                                if(value.status == "created" || value.status == "updated"  || value.status == "canceled"){
                                    load_bulkbank(value);
                                    var li =$("<li/>", {text:" Bloqueos en la semana "+value.weekDayId+": "+ value.quantity});
                                }else{
                                    var li =$("<li/>", {text: "Error en los bloqueos en la semana "+value.weekDayId});
                                }

                                ul = ul.append(li);
                            }
                        });

                        div_alert = div_alert.append(ul);

                        $("#bulkbank-save").find(".alert").remove();

                        if(flag == 1){
                            $(".bulkbank-table").before(div_alert);
                        }

                        submitButton.button("reset");

                    }, error: function(result){
                        showError("Hubo un error en la aplicación");
                        submitButton.button("reset");
                    }
                });
            }
        });

        $("#bulkbank-search").submit(function(e){

            e.preventDefault();

            var $submitButton = $("#bulkbank-search").find('#submit');
            $submitButton.attr("disabled", true).val("searching....");
            var bulkbank_search=$("#bulkbank-search");
            var template=$(bulkbank_search).find("#template").val();
            var year=$(bulkbank_search).find("#year").val();
            var day=$(bulkbank_search).find("#day").val();

            if(day == "" || year == ""  || template == "" || day == null || year == null || template == null){
                showError("Day, Year and Template are required");
            }else{
                window.location.href = "/bulkbank/"+template+"/"+year+"/"+day;
            }

            $submitButton.attr("disabled", false).val("Search");
        });

        //addBreakdown
        $(document).on('click', '.addBreakdown', function() {
            // add Break down
            var td=$(this).closest("td");
            $("#clientNames").html("");
            var id=$(td).find("input[name=ids]").val();
            $("#bulkBankId").val(id);
            var quantity=$(td).find("input[name=quantity]").val();
            for(var i=0; i < quantity; i++){

                var names= $("<div/>", {class: 'col-sm-10'}).append(
                                    $("<div/>", {class: 'col-sm-6'}).append(
                                        $("<input/>",{type: 'text', class: 'form-control', name: 'firstname', placeholder: 'Firstname'})
                                    ),
                                    $("<div/>", {class: 'col-sm-6'}).append(
                                            $("<input/>",{type: 'text', class: 'form-control', name: 'lastname', placeholder: 'Lastname'})
                                    )
                                );
                var form=$("<div/>", {class: 'form-group'}).append(
                        $("<label/>", {class: 'col-sm-1 control-label', text: 'Name'}),
                        names);
                $("#clientNames").append(form);
            }
        });

        $("#breakdown-form").submit(function(e) {

            var form = $(this).closest("form");

            e.preventDefault();

            var data = $(this).serialize();

            var submitButton = $(this).find(":submit");
            //submitButton.button("loading");

            var form=$(this);
            $.ajax({
                url: '/createBreakdown',
                type: 'POST',
                data: data,
                success: function(data) {
                    data = JSON.parse(data);
                    console.log(data);

                    var breakdownAlert = $("#breakdown-alert");

                    if(data.code == 200){

                        var wrapAlert = $("<div/>", {class: 'alert alert-success' });

                        breakdownAlert.append(wrapAlert);

                        var message = $("<strong />").text(data.message);

                        wrapAlert.append(message);

                        $(data.data).each(function(index, reservations){

                            $(reservations).each(function(i, r){
                                var reservation = $("<p />").text("M4SG Reservation: " + r.reservationIdM4SG + " | Hotel Reservation: " + r.reservationIdHotel);
                                wrapAlert.append(reservation);
                            });

                        });

                        //alert("Yeah!");
                        //bulkbank();
                    }else{
                        var wrapAlert = $("<div/>", {class: 'alert alert-danger' }).text(data.code +" "+data.message);

                        breakdownAlert.append(wrapAlert);
                    }


                    submitButton.button("reset");
                }
            });
        });

    });
</script>
#{/set}
<input id="id-value" type="hidden" value="${brokerId}"/>
<div class="col-lg-12 page-header">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <button class="btn btn-default" id="breakdown-test">Breakdown</button>
                <h1>Bulk Bank</h1>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="personal-information">
            <div class="ibox-title">
                <h5>&{'search'}</h5>
            </div>
            <div class="clearfix"></div>
            <div class="ibox-content">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <form role="form" action="" method="post" id="bulkbank-search">
                            <div class="sk-chasing-dots">
                                <div class="sk-child sk-dot1"></div>
                                <div class="sk-child sk-dot2"></div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Hotel</label>
                                    <select  class="form-control" name="hotel" id="hotel"></select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Template</label>
                                    <select  class="form-control" name="template" id="template"></select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Year</label>
                                    <select  class="form-control" name="year" id="year"></select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Day</label>
                                    <select  class="form-control" name="day" id="day"></select>
                                </div>
                                <input type="submit" id="submit" class="btn btn-primary pull-right" value="&{'search'}">
                            </div>
                        </form>
                    </div>
                </div>


            </div>
        </div>
        <div class="clearfix"></div><br /><br />
        <div class="personal-information">
            <div class="ibox-title">
                <h5>Bulkbank</h5>
            </div>
            <div class="clearfix"></div>
            <div class="ibox-content">
                <div class="row detail-template">
                    <div class="sk-chasing-dots">
                        <div class="sk-child sk-dot1"></div>
                        <div class="sk-child sk-dot2"></div>
                    </div>
                </div>
                <div class="clearfix"></div><br/><br/>


                <div class="panel panel-default">
                    <div class="panel panel-heading">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation"><a href="#breakdowns" aria-controls="breakdowns" role="tab" data-toggle="tab">Breakdowns</a></li>
                            <li role="presentation" class="active"><a href="#breakdowns-failed" aria-controls="profile" role="tab" data-toggle="tab">Failed</a></li>
                        </ul>
                    </div>
                    <div class="panel panel-body">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane" id="breakdowns">

                                <form role="form" action="" method="post" id="bulkbank-save">
                                    <input type="hidden" name="templateId" id="templateId" value="${templateId}" />
                                    <input type="hidden" name="year" id="year" value="${year}" />
                                    <input type="hidden" name="weekDay" id="weekDay" value="${day}" />
                                    <table class="table table-bordered bulkbank-table">
                                        <tbody>

                                        </tbody>
                                    </table>
                                    <button type="submit" class="btn btn-primary pull-right" data-loading-text="Creating...">&{'save'}</button>
                                </form>

                            </div>
                            <div role="tabpanel" class="tab-pane active" id="breakdowns-failed">
                                <div class="col-lg-6">
                                    <div id="failed-alert"></div>
                                    <table class="table table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Reservation M4SG</th>
                                                <th>Name</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        #{list reservations }
                                            <tr>
                                                <td>${ _.id}</td>
                                                <td>${_.name} ${_.lastname}</td>
                                                <td class="text-right">
                                                    <button type="button" class="btn btn-default resend-bulkbank" id="${_.id}" data-loading-text="Sending...">Re enviar</button>
                                                </td>
                                            </tr>
                                        #{/list}

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Nav tabs -->


                <!-- Tab panes -->


            </div>


            </div>
            <div class="clearfix"></div><br /><br />
        </div>
        <!-- /.panel -->
    </div>
</div>

<div class="modal fade" id="breakdown" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Breakdown</h4>
            </div>
            <div id="breakdown-alert" class="col-lg-12"></div>
            <form action="" id="breakdown-form" class="form-horizontal">
                <input type="hidden" name="bulkBankId" id="bulkBankId" />
                <div class="modal-body">
                    <div id="clientNames">

                    </div>

                    <div class="clearfix"></div><br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" data-loading-text="Loading...">&{'save'}</button>
                </div>
            </form>
        </div>
    </div>
</div>
