#{extends 'main.html' /}

#{set title:'Offers' /}

#{set 'moreStyles'}
<link rel="stylesheet" href="/public/stylesheets/vendor/selectizejs/selectize.default.css">
<link rel="stylesheet" href="/public/stylesheets/pages/offers.create.css">
<link rel="stylesheet" href="/public/stylesheets/pages/validated-forms.css">
#{/set}

#{set 'moreScripts'}
<script src="/public/javascripts/offers/create.js"></script>
#{/set}

<script>
$(document).ready(function() {
    #{if editMode}
        var dataSet = new Array();
        $.ajax({
            url:  '/TableList',
            type:'POST',
            data:{'url': '/offers/${id}'},
            success:function(result){
                var result =  $.parseJSON(result);
                var arr = new Array();
                if(result.destinations){
                    for(var j = 0; j < result.destinations.length; j++) {
                        console.log(result.destinations[j].offerDestinationId.destination.id);
                        arr.push(result.destinations[j].offerDestinationId.destination.id);
                    }
                    $('#select-destination').data('itemValues', arr);
                }

                var edit = true;
                ejecutar(edit);
                console.log("el valor de result.name es " + result.name);
                var myDate = new Date( result.dateCreated);
                console.log(result);
                console.log("result.dateCreated>>>" + result.dateCreated);
                $("#status" + result.status).prop("checked",true);
                $("#nombre-oferta").html(result.name);
                $("#offer-name").html(result.name);
                $("#offer-nights").val(result.nights);
                $("#offer-price").val("$" + result.price);
                if(result.mealPlan.id!=2){
                    $("#offer-price").closest(".col-lg-4").hide()
                }
                $("#activation-fee").val("$" + result.activationFee);
                $("#offer-taxes").val("$" + result.taxes);
                $("#offer-description").html(Decode(result.description));
                lim=$("#offer-description").attr("maxlength");
                $("#offer-description").closest(".form-group").find("#cont").html(lim-count_text($("#offer-description")));
                var langIndex = assignLanguageIndex(result.translations);
                console.log("langIndex['es']>>>" + langIndex['es']);
                if(typeof result.translations[langIndex["en"]] !== "undefined") {
                    $("#language-tab1 .description-translation").val(Decode(result.translations[langIndex["en"]].websiteDescription));
                    $("#language-tab1 .details-translation").val(Decode(result.translations[langIndex["en"]].websiteDetails));
                    $("#language-tab1 .terms-translation").val(Decode(result.translations[langIndex["en"]].websiteTerms));
                    lim=$("#language-tab1 .description-translation").attr("maxlength");
                    $("#language-tab1 .description-translation").closest(".row").find("#cont").html(lim-count_text($("#language-tab1 .description-translation")));
                    lim=$("#language-tab1 .details-translation").attr("maxlength");
                    $("#language-tab1 .details-translation").closest(".row").find("#cont").html(lim-count_text($("#language-tab1 .details-translation")));
                }

                if(typeof langIndex["es"] !== "undefined") {
                    $("#language-tab2 .description-translation").val(Decode(result.translations[langIndex["es"]].websiteDescription));
                    $("#language-tab2 .details-translation").val(Decode(result.translations[langIndex["es"]].websiteDetails));
                    $("#language-tab2 .terms-translation").val(Decode(result.translations[langIndex["es"]].websiteTerms));
                    lim=$("#language-tab2 .description-translation").attr("maxlength");
                    $("#language-tab2 .description-translation").closest(".row").find("#cont").html(lim-count_text($("#language-tab2 .description-translation")));
                    lim=$("#language-tab2 .details-translation").attr("maxlength");
                    $("#language-tab2 .details-translation").closest(".row").find("#cont").html(lim-count_text($("#language-tab2 .details-translation")));
                }

                if(typeof result.translations[langIndex["pt-br"]] !== "undefined") {
                    $("#language-tab3 .description-translation").val(Decode(result.translations[langIndex["pt-br"]].websiteDescription));
                    $("#language-tab3 .details-translation").val(Decode(result.translations[langIndex["pt-br"]].websiteDetails));
                    $("#language-tab3 .terms-translation").val(Decode(result.translations[langIndex["pt-br"]].websiteTerms));
                    lim=$("#language-tab3 .description-translation").attr("maxlength");
                    $("#language-tab3 .description-translation").closest(".row").find("#cont").html(lim-count_text($("#language-tab3 .description-translation")));
                    lim=$("#language-tab3 .details-translation").attr("maxlength");
                    $("#language-tab3 .details-translation").closest(".row").find("#cont").html(lim-count_text($("#language-tab3 .details-translation")));
                }

//                $("#offer-transportation option[value=" + result.transportation.id + "]").attr("selected","selected");
                transportation="";
                if(result.transportation)
                    transportation=result.transportation.id;
                load_catalog("/transportation", $('#offer-transportation'), transportation);
                if(result.mealPlan){
                    load_mealplan(result.mealPlan.id );
                    if(result.mealPlan.id==2){
                    }
                }
                if(result.hook){
                    load_hook(result.hook.id);
//                    $("#hook" + result.hook.id).prop("checked",true);
                }
            },
            error: function(err){
                alert("error" + err);
            }
        });
        $("#redirect input[name=mode]").val("edit");
    #{/if}
    #{else}
        var edit = false;
        ejecutar(edit);
        load_catalog("/transportation", $('#offer-transportation'));
        load_hook();
        load_mealplan();
    #{/else}
});
</script>
<input id="isEdit" type="hidden" value="${id}" />
#{form @Offers.list(), method:'POST', id:'redirect'}
<input name="offerName" type="hidden" value="" />
<input type="hidden" name="mode" value="create" />
<input id="id-value" name="id-value" type="hidden" value="${id}"/>
<input id="country-code" type="hidden" value="" />
#{/form}
<div class="col-lg-12 page-header">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <h1>
                #{if editMode}
                    &{'edit_offer'} - <span id="nombre-oferta"></span>
                #{/if}
                #{else}
                    &{'new_offer'}
                #{/else}
                </h1>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row">
<div class="col-lg-12">
        <form action="/createOffer" method="post" role="form" id="createOffer">
    <div class="panel with-nav-tabs panel-default">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1default" data-toggle="tab" id="configuration-tab-link">&{'configuration'}</a></li>
                <li><a href="#tab2default"  data-toggle="tab" id="terms-tab-link">&{'terms'}</a></li>
            </ul>

        </div>
        <div class="panel-body">
            <div class="tab-content">

            <!-- Contenido de la "pestaña 1" -->
            <div class="tab-pane fade in active" id="tab1default">

            <div class="row">
                <div class="col-lg-6">
                        <div class="form-group">
                            #{if editMode}
                                <span id="offer-name" style="font-size: 28px;"></span>
                            #{/if}
                            #{else}
                                <label>&{'name'}*:</label>
                                <input type="text" id="offer-name" name="offer-name" class="form-control" required maxlength="250"/>
                            #{/else}
                            <span class="message-span"></span>
                        </div>
                        <div class="form-group">
                            <label class="radio">&{'status'}</label>

                            <label class="radio-inline">
                                <input type="radio" name="status" class="status" value="1" id="status1" checked>
                                &{'enabled'}
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="status" class="status" value="0" id="status0">
                                &{'disabled'}
                            </label>
                        </div>
                        <div class="form-group">
                                <label for="select-destination">&{'destination'}*:</label>
                                <select id="select-destination" class="demo-default" placeholder="Select destinations..." values="fasdfasd">
                                </select>
                        </div>
                        <div id="hook" class="form-group">
                            <label class="radio">&{'hook_type'}* </label>

                            <label for="hook0" class="radio-inline">
                            <input type="radio" name="hook" id="hook0" value="0" class="hook-id" checked="checked">
                            &{'hook'}</label>

                            <label for="hook1" class="radio-inline">
                            <input type="radio" name="hook" id="hook1" value="1" class="hook-id">
                            &{'soft_hook'}Soft-hook</label>

                            <label for="hook2" class="radio-inline">
                            <input type="radio" name="hook" id="hook2" value="2" class="hook-id">
                            &{'non_hook'}Non-hook</label>

                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4">
                                    <label>&{'transportation'}</label>
                                    <select class="form-control" id="offer-transportation">
                                        <option value="1">&{'one_way'}</option>
                                        <option id="optionb" value="2">&{'round_trip'}</option>
                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    <label for="meal-plan">Plan</label>
                                    <select class="form-control" id="meal-plan">
                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    <label>&{'nights'}*</label>
                                    <input id="offer-nights" class="form-control" type="number" maxlength="2" min="0" max="99" required>
                                    <span class="message-span"></span>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-lg-4">
                                    <label>&{'price'}</label>
                                    <input id="offer-price" class="form-control" placeholder="$0.0" maxlength="6">
                                    <span class="message-span"></span>
                                </div>
                                <div class="col-lg-4">
                                    <label>&{'activation_fee'}</label>
                                    <input class="form-control" placeholder="$0.0" id="activation-fee" maxlength="6">
                                </div>
                                <div class="col-lg-4">
                                    <label>&{'taxes'}</label>
                                    <input class="form-control" id="offer-taxes" placeholder="$0.0" maxlength="6">
                                    <span class="message-span"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>&{'description'}*</label>
                            *{<textarea id="offer-description" class="form-control" rows="3" style="max-width: 200%" requiredd maxlength="4000"></textarea>}*
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col-sm-11">
                                    <textarea id="offer-description" class="form-control" rows="3" requiredd maxlength="4000"></textarea>
                                </div>
                                <div id="cont" class="col-sm-1">0</div>
                            </div>
                        </div>

                </div>
            </div>
            </div>
            <!-- Contenido de la "pestaña 2" -->
            <div class="tab-pane fade" id="tab2default">
                    <h4>&{'content_cancuncards'}</h4>
                    <div class="panel with-nav-tabs panel-default">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tabterms1default" data-toggle="tab" aria-expanded="true" id="english-tab">English</a></li>
                                <li class=""><a href="#tabterms2default" data-toggle="tab" aria-expanded="false" id="spanish-tab">Spanish</a></li>
                                <li class=""><a href="#tabterms3default" data-toggle="tab" aria-expanded="false" id="portuguese-tab">Portuguese</a></li>
                            </ul>
                        </div>

                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane fade active in tabterms" id="tabterms1default">
                                    <div class="tab-content" id="english">
                                        <!-- Contenido de la "pestaña English" -->
                                        <div class="tab-pane fade in active" id="language-tab1">
                                                <div class="form-group">
                                                    <label>&{'description'}</label>
                                                    *{<textarea class="form-control description-translation" rows="3" maxlength="2000"></textarea>}*
                                                    <div class="clearfix"></div>
                                                    <div class="row">
                                                        <div class="col-sm-11">
                                                            <textarea class="form-control description-translation" rows="3" maxlength="2000"></textarea>
                                                        </div>
                                                        <div id="cont" class="col-sm-1">0</div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>&{'details'}</label>
                                                    *{<textarea class="form-control details-translation" rows="3" maxlength="2000"></textarea>}*
                                                    <div class="clearfix"></div>
                                                    <div class="row">
                                                        <div class="col-sm-11">
                                                            <textarea class="form-control details-translation" rows="3" maxlength="2000"></textarea>
                                                        </div>
                                                        <div id="cont" class="col-sm-1">0</div>
                                                    </div>
                                                </div>
                                            <div class="form-group">
                                                <label>&{'terms'}</label>
                                                <textarea class="form-control terms-translation" rows="3"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Contenido de la "pestaña 2" -->
                                <div class="tab-pane fade tabterms" id="tabterms2default">
                                    <div class="tab-content" id="spanish">
                                        <div class="tab-pane fade in active" id="language-tab2">
                                            <div class="form-group">
                                                <label>&{'description'}</label>
                                                *{<textarea class="form-control description-translation" rows="3"></textarea>}*
                                                <div class="clearfix"></div>
                                                <div class="row">
                                                    <div class="col-sm-11">
                                                        <textarea class="form-control description-translation" rows="3" maxlength="2000" ></textarea>
                                                    </div>
                                                    <div id="cont" class="col-sm-1">0</div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>&{'details'}</label>
                                                *{<textarea class="form-control details-translation" rows="3"></textarea>}*
                                                <div class="clearfix"></div>
                                                <div class="row">
                                                    <div class="col-sm-11">
                                                        <textarea class="form-control details-translation" rows="3" maxlength="2000"></textarea>
                                                    </div>
                                                    <div id="cont" class="col-sm-1">0</div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label>&{'terms'}</label>
                                                <textarea class="form-control terms-translation" rows="3"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Contenido de la "pestaña 3" -->
                                <div class="tab-pane fade tabterms" id="tabterms3default">
                                    <div class="tab-content" id="portuguese">
                                        <div class="tab-pane fade in active" id="language-tab3">
                                            <div class="form-group">
                                                <label>&{'description'}</label>
                                                *{<textarea class="form-control description-translation" rows="3"></textarea>}*
                                                <div class="clearfix"></div>
                                                <div class="row">
                                                    <div class="col-sm-11">
                                                        <textarea class="form-control description-translation" rows="3" maxlength="2000"></textarea>
                                                    </div>
                                                    <div id="cont" class="col-sm-1">0</div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>&{'details'}</label>
                                                *{<textarea class="form-control details-translation" rows="3"></textarea>}*
                                                <div class="clearfix"></div>
                                                <div class="row">
                                                    <div class="col-sm-11">
                                                        <textarea class="form-control details-translation" rows="3" maxlength="2000"></textarea>
                                                    </div>
                                                    <div id="cont" class="col-sm-1">0</div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>&{'terms'}</label>
                                                <textarea class="form-control terms-translation" rows="3"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
            </div>
            <!-- Contenido de la "pestaña 3" -->
            <div class="tab-pane fade" id="tab3default">
                Default 3
            </div>
            #{if id }
                #{secure.check 'EditarOferta'}
                    <input id="submit" value="&{'save'}" type="submit" class="btn btn-primary" />&nbsp;&{'or'}
                #{/secure.check}
            #{/if}
            #{else }
                #{secure.check 'CrearOferta'}
                    <input id="submit" value="&{'save'}" type="submit" class="btn btn-primary" />&nbsp;&{'or'}
                #{/secure.check}
            #{/else}
            <a href="/offers" class="btn">&{'cancel'}</a>
            </div>
        </div>
            <!-- /.row (nested) -->
        </div>

    <!-- /.panel-body -->
    *{</div>}*
    </form>
    <!-- /.panel -->
</div>
</div>