#{extends 'main.html' /}
#{set title:'Marketing for Sunset' /}
<link rel="stylesheet" href="/public/stylesheets/vendor/selectizejs/selectize.default.css">
#{set 'moreStyles'}
<link rel="stylesheet" href="/public/stylesheets/pages/offers.create.css">
<link rel="stylesheet" href="/public/stylesheets/pages/validated-forms.css">
<link rel="stylesheet" href="/public/stylesheets/fonts.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/blitzer/jquery-ui.css" type="text/css" />
#{/set}
#{set 'moreScripts'}
<script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
#{/set}
<script>
    $(document).ready(function(){
        $(".uploading").hide();
        $("#addleads").submit(function(e){
            e.preventDefault();
                var div=$(this);
                $(this).find(".uploading").show();
                var id=$("#id-value").val();
                var url='${urlservicio}/customers/import';
                var button=$(this).find(".btn");
                $(button).attr("disabled", true).val("&{'creating'}....");
                $.ajax( {
                    url: url,
                    type: 'POST',
                    data: new FormData( this ),
                    success: function(msg){
                        var result = msg;
                        console.log(result.message);
                        $(div).find(".uploading").hide();
                        if(result.message != undefined){
                            showError(result.message);
                            //$submitButton.attr("disabled", false).val("Save");
                        }else{
                            console.log(msg);
                            $(button).attr("disabled", false).val("Add Leads");
                            $(".alert-success").removeClass("oculto");
                        }
                    }, error: function(result){
                        $(div).find(".uploading").hide();
                        $(button).attr("disabled", false).val("Add Leads");
                        showError(result.responseJSON.message);
                    },
                    processData: false,
                    contentType: false
                } );
//            }
        });
    });
</script>
<div class="col-lg-12 page-header">
    <div class="row">
        <div class="col-lg-12">
            <div class="row"><br />
                <div class="alert alert-success oculto" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>&{'well_done'}!</strong> &{'successfully_uploaded'} leads
                </div>
                <h1>
                    &{'li_uploadleads'}
                </h1>
                <div class="alert alert-danger alert-dismissible oculto" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span class="text"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
            &{'li_uploadleads'}
            </div>
            <div class="panel-body">
                <div class="clearfix"></div><br />
                <form method="post"  id="addleads">
                    <input type="hidden" name="username" value="rhaseman" />
                    <div class="col-lg-8">
                        <div class="form-group">
                            <div class="col-sm-9 col-lg-9">
                                <input type="file" name="file" class="form-control" id="file"/>
                            </div>
                            <input value="Add Leads" type="submit" class="btn btn-primary" />
                            <div class="col-sm-9 text-center uploading">
                                <img src="/public/images/ajax-loader.gif" /><br />
                                &{'uploading_file'}
                            </div>
                        </div>
                        File format
                        <table class="table-bordered table">
                            <thead>
                                <tr>
                                    <th>&{'code_campaign'}</th>
                                    <th>&{'certificate'}</th>
                                    <th>&{'firstname'}</th>
                                    <th>&{'lastname'}</th>
                                    <th>&{'address'}</th>
                                    <th>&{'city'}</th>
                                    <th>&{'state'}</th>
                                    <th>&{'zipcode'}</th>
                                    <th>&{'phone'}</th>
                                    <th>&{'country'}</th>
                                    <th>&{'email'}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>3840</td>
                                    <td>VRE2323HT</td>
                                    <td>Neomi</td>
                                    <td>Munoz</td>
                                    <td>10134 paddlefish crk</td>
                                    <td>san antonio</td>
                                    <td>TX</td>
                                    <td>78245</td>
                                    <td>210-6394556</td>
                                    <td>USA</td>
                                    <td>neomi_m@gmail.com</td>
                                </tr>
                            </tbody>
                        </table>
                        <ul>
                            <li>&{'rule1'}</li>
                            <li>&{'rule2'}</li>
                            <li>&{'rule3'}</li>
                        </ul>
                        <p>
                            <strong>&{'instruction'}</strong>
                        </p>
                        <ul>
                            <li>USA	-&{'united_states'}</li>
                            <li>CAN	-&{'canada'}</li>
                            <li>MEX	-&{'mexico'}</li>
                            <li>ALE	-&{'germany'}</li>
                            <li>ESP	-&{'spain'}</li>
                            <li>FRA	-&{'france'}</li>
                            <li>ING	-&{'england'}</li>
                            <li>ITA	-&{'italy'}</li>
                            <li>PHL	-&{'philippines'}</li>
                            <li>ARG	-&{'argentine'}</li>
                            <li>CR	-&{'costa_rica'}</li>
                            <li>BRA	-&{'brasil'}</li>
                            <li>CHI	-&{'chile'}</li>
                            <li>CHN	-&{'china'}</li>
                        </ul>
                    </div>
                </form>
                <br/>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /.panel -->
    </div>
</div>